node_modules/
npm-debug.log*
yarn-error.log*

# Build output
dist/
build/
.next/
.nuxt/
.parcel-cache/
.vite/

# Environment
.env
.env.*

# Visual Studio
.vs/

# System
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Coverage
coverage/
